<header>
  <app-header>
  </app-header>
</header>

<div class="w3-container">
  <nav>
     <div class="icon-bar">
        <a href="https://www.facebook.com/SemilleroGIBIC/" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/gibic_neuma/" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCpGKh9vFaaQQZlH0AvxUtgQ" class="youtube"><i class="fa fa-youtube"></i></a>
     </div>
  </nav>
  <img src="/assets/images/gibic2.jpg" alt="Car" style="width:100%">
</div>


<footer>
  <app-footer></app-footer>
</footer>

