<header>
    <app-header2>
    </app-header2>
</header>
    <p>Señor administrador al, al darle clic a la respuesta le llegará al interesado la siguiente información automáticamente<br>
        Sí: Su solicitud ha sidos aprobada, el grupo de investigación GIBIC le estará enviando la base de datos en los próximos días<br>
        No: Su solicitud para la adquisición de la base de datos ha sidos rechazada por el grupo de investigación GIBIC.<br>
    </p>
    <div class = "Contenedor-tabla">
        <table class="tabla">
        <tr class="titulos">
            <td>Fecha</td>
            <td>Nombre</td>
            <td>Correo</td>
            <td>Descripción</td>
            <td>Respuesta</td>
          </tr>
          <tr>
            <td>Celda1</td>
            <td>Celda2</td>
            <td>celda3</td>
            <td>Celda4</td>
            <td class = "Respuesta">
                <div class= "aceptado botones">
                    &#x2714;
                </div>
                <div class="rechazado botones">
                    X
                </div>
            </td>
          </tr>
          <tr>
            <td>Celda 1</td>
            <td>Celda 2</td>
            <td>Celda 3</td>
            <td>Celda 4</td>
            <td class = "Respuesta">
                <div class= "aceptado">
                    &#x2714;
                </div>
                <div class="rechazado">
                    X
                </div>
            </td>
          </tr>
          <tr>
            <td>Celda 1</td>
            <td>Celda 2</td>
            <td>Celda 3</td>
            <td>Celda 4</td>
            <td class = "Respuesta">
                <div class= "aceptado">
                    &#x2714;
                </div>
                <div class="rechazado">
                    X
                </div>
            </td>
          </tr>
          <tr>
            <td>Celda 1</td>
            <td>Celda 2</td>
            <td>Celda 3</td>
            <td>Celda 4</td>
            <td class = "Respuesta">
                <div class= "aceptado">
                    &#x2714;
                </div>
                <div class="rechazado">
                    X
                </div>
            </td>
          </tr>
        </table>
    </div>
<div class="footer">
    <app-footer></app-footer>
</div>